:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 255, 255, 255;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(6,6,38);
  background: radial-gradient(circle, rgba(6,6,38,1) 0%, rgba(5,3,36,1) 51%);
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

footer {
  padding: 2rem;
  border: 1px solid rgb(var(--card-border-rgb));
  border-radius: var(--border-radius);  
  position: relative;
  margin-top: 4rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
